
@model Services


<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="row">
             <div style="margin-left:22rem;" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                 <div class="icon-box">
                    <div class="icon">@Html.Raw(Model.Icon)</div>
                    <h4><a>@Model.Title</a></h4>
                    <p>@Model.Description</p>
                 </div>
             </div>
        </div>
    </div>
</section>

